<div class="row mb-5">
  <div class="col-sm-12 mb-3">
    <span class="me-3">Switch View</span>
    <span class="c-pointer" *ngIf="!isListView" (click)="toggleLocatioView()" title="List View">
      <svg class="bi bi-list" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
          clip-rule="evenodd" />
      </svg>
    </span>
    <span class="c-pointer" *ngIf="isListView" (click)="toggleLocatioView()" title="Map View">
      <svg class="bi bi-map" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M15.817.613A.5.5 0 0116 1v13a.5.5 0 01-.402.49l-5 1a.502.502 0 01-.196 0L5.5 14.51l-4.902.98A.5.5 0 010 15V2a.5.5 0 01.402-.49l5-1a.5.5 0 01.196 0l4.902.98 4.902-.98a.5.5 0 01.415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z"
          clip-rule="evenodd" />
      </svg>
    </span>
  </div>

  <div class="col-sm-12 mb-3">
    <app-search-location
      (enter)="onEnter($event)"
      (selected)="onSelected($event)"
    >
    </app-search-location>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 mb-3">
    <button
    *ngIf="!isListView && (latitude && longitude)"
    (click)="searchArea()"
    class="btn btn-outline-info btn-sm me-1">
    Search Area
  </button>

  <button
    (click)="useMyLocation()"
    class="btn btn-outline-info btn-sm">
    <span>
      <svg width="1em" height="1em" viewBox="0 2 16 16" class="bi bi-cursor" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
      </svg>
    </span>
    My Location
  </button>
  </div>
  <div class="col-sm-6 mb-3 d-flex justify-content-sm-end">
    <button *ngIf="isLoggedIn" class="btn btn-outline-info btn-sm me-1" (click)="addBikeParking()">Add Parking</button>
    <button *ngIf="isLoggedIn" class="btn btn-outline-info btn-sm me-1" (click)="addBikeTheft()">Add Bike Theft</button>

    <button
      *ngIf="this.latitude && this.longitude"
      class="btn btn-outline-danger btn-sm"
      (click)="showBikeThefts()"
    >Show Bike Thefts</button>
  </div>
</div>

<div class="row">
  <app-locations-map
    *ngIf="!isListView"
    [setView]="view"
    (moveEnd)="onMoveEnd($event)"
    [locations]="locations"
    class="w-100 mb-3">
  </app-locations-map>
  <app-list-locations
    [locations]="locations"
    *ngIf="isListView"
    class="w-100">
  </app-list-locations>
</div>
