<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Create Bike Theft</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row mb-5">
      <div class="col mb-3">
        <div class="form-group">
          <app-search-location
            (selected)="onSelected($event)"
          >
          </app-search-location>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div
          style="height: 300px; width: 100%"
          (leafletMapReady)="onMapReady($event)"
          class="map"
          leaflet
          [leafletOptions]="options">
        </div>
      </div>
    </div>
    <form class="row" [formGroup]="bikeTheftForm">
      <div class="col-lg-6 col-sm-12">
        <div class="form-group">
          <label class="form-label" for="city">City:</label>
          <input disabled formControlName="city" type="text" class="form-control" id="city">
        </div>
        <div class="form-group">
          <label class="form-label" for="street">Street:</label>
          <input disabled formControlName="street" type="text" class="form-control" id="street">
        </div>
        <div class="form-group">
          <label class="form-label" for="latitude">Latitude:</label>
          <input disabled formControlName="latitude" type="number" class="form-control" id="latitude">
        </div>
        <div class="form-group">
          <label class="form-label" for="longitude">Longitude:</label>
          <input disabled formControlName="longitude" type="number" class="form-control" id="longitude">
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="form-group">
          <label class="form-label" for="description">Description:</label>
          <textarea
            formControlName="description"
            class="form-control"
            name="description"
            id="description"
            cols="30"
            rows="10">
          </textarea>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    [disabled]="!bikeTheftForm.valid"
    class="btn btn-outline-dark"
    (click)="save()">Save
  </button>
</div>
