<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body" id="location-details">
    
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mb-3">
        <li [ngbNavItem]="1">

            <a ngbNavLink>Details</a>

            <ng-template ngbNavContent>             
                <div class="card">
                    <div class="row card-body">
                        <div class="col-6 mb-2">
                            <h6>
                                City:
                            </h6>
                            <p class="card-text">
                                {{ location.city }}
                            </p>
                        </div>
                        <div class="col-6 mb-2">
                            <h6>
                                Street:
                            </h6>
                            <p class="card-text">
                                {{ location.street }}
                            </p>
                        </div>
                        <div class="col-6 mb-2">
                            <h6>
                                Description:
                            </h6>
                            <p class="card-text">
                            {{ location.description ? location.description : 'No description' }}
                            </p>
                        </div>
                        <div class="col-6 mb-2">
                            <h6>
                                User:
                            </h6>
                            <p class="card-text">
                                {{ location.user.username }}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>

        <li [ngbNavItem]="2">

            <a ngbNavLink>Reviews</a>

            <ng-template ngbNavContent>
                <div class="container">
                    <form *ngIf="isLoggedIn" class="row g-3 mb-3" [formGroup]="reviewForm">
                        <div class="col-12 col-lg-7">
                            <input
                                placeholder="Comment"
                                formControlName="comment"
                                type="text"
                                class="form-control"
                                id="comment"
                            >
                        </div>
                        <div class="col-12 col-lg-3">
                        <label for="rating">Rating *:</label>
                            <ngb-rating
                                formControlName="rating"
                                [max]="5"
                                [(rate)]="currentRate">
                            </ngb-rating>
                        </div>
                        <div class="col-6 col-lg-2">
                            <button
                                type="button"
                                [disabled]="!reviewForm.valid"
                                class="btn btn-sm btn-primary"
                                (click)="save()">Comment
                            </button>
                        </div>
                    </form>
                    <div *ngFor="let review of reviews" class="row">
                        <div class="col">
                            <div class="card p-2 mb-2">
                                <div class="pb-1 d-flex justify-content-between border-bottom border-default">
                                    <span>
                                        <small class="font-weight-bold text-primary">{{ review.user.username }}</small>
                                    </span>
                                    <span>
                                        <ngb-rating
                                            [max]="5"
                                            [readonly]="true"
                                            [rate]="review.rating">
                                        </ngb-rating>
                                    </span>
                                </div>
                                <span class="m-1">
                                    <small class="font-weight-bold">{{ review.comment }}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
   
</div>

<div class="modal-footer"></div>